extjs/ext
extjs/packages
build
extjs/shared/resources/bootstrap/images
.sass-cache
[Bb]in/
[Oo]bj/
[Ww]orking/
TestResults/
Packages/
App_Data/
*.suo
*.user
_ReSharper.*
*.ReSharper.user
*.resharper.user